ipykernel
ipywidgets
plotly
nbformat
openpyxl
matplotlib
pandas
tqdm
xgboost
scikit-learn
seaborn
beautifulsoup4
urllib
zipfile

# custom libraries
customtkinter

# external libraries
meteostat 
geopy
geopandas
