<!-- templates/models.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select Model - Forecasting Anomaly APP</title>
    <style>
        /* Include your CSS styles here */
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </style>
</head>
<body>
    <div class="container">
        <h2>Select a Model</h2>
        <form method="post">
            <button name="model" value="model1" type="submit">Module 1</button>
            <!-- You can add more model options here -->
        </form>
    </div>
</body>
</html>
